.all1 {
    max-width: 1350px;
    margin: 0 auto;
}

.all2 {
    max-width: 1350px;
    margin: 0 auto;
}

.all3 {
    max-width: 1350px;
    margin: 0 auto;
}

.all4 {
    max-width: 1350px;
    margin: 0 auto;
}