.all {
    max-width: 1350px;
    margin: 0 auto;
}

.fura {
    position: relative;
    display: block;
}

.fura img {
    width: 100%;
    display: block;
}

.furano {
    position: absolute;
    width: 1350px;
    bottom: 1px;
    display: block;
    box-sizing: border-box;
    background-color: rgba(105, 230, 255, 0.5);
    padding: 12.8%;
    text-align: left;
    color: #FFF;
    font-size: 100px;
    font-weight: bolder;
    color: red;
    font-family: YuMincho;
}

.bie {
    position: relative;
    display: block;
}

.bie img {
    width: 100%;
    display: block;
}

.biei {
    position: absolute;
    width: 1350px;
    bottom: 1px;
    display: block;
    box-sizing: border-box;
    background-color: rgba(105, 230, 255, 0.5);
    padding: 12.8%;
    text-align: left;
    color: #FFF;
    font-size: 100px;
    font-weight: bolder;
    color: red;
    font-family: YuMincho;
}

.asa {
    position: relative;
    display: block;
}

.asa img {
    width: 100%;
    display: block;
}

.asahikawa {
    position: absolute;
    width: 1350px;
    display: block;
    bottom: 1px;
    box-sizing: border-box;
    background-color: rgba(105, 230, 255, 0.5);
    padding: 12.8%;
    text-align: left;
    color: #FFF;
    font-size: 100px;
    font-weight: bolder;
    color: red;
    font-family: YuMincho;
}